.ce-header{
  display: flex;
  flex-direction: column;

  .logo-img{
    margin-top: 20px;
    height: 130px;
    width: auto;
    object-fit: contain;
  }
  .navbar-toggler{
    border: lightgray solid 2px;
    background-color: #dadada;
  }
}
